
PORT=3000

# Transaction Pooler (puerto 6543) - para queries normales
DATABASE_URL="postgresql://usuario:password@aws-0-region.pooler.supabase.com:6543/postgres?pgbouncer=true"

# Direct Connection (puerto 5432) - para migraciones
DIRECT_URL="postgresql://usuario:password@aws-0-region.pooler.supabase.com:5432/postgres"